@import url(https://fonts.googleapis.com/css?family=Khula);
@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url(https://fonts.googleapis.com/css?family=Martel:300);

* {margin:0;padding:0;box-sizing:border-box;}

header {  
	background-color: #CB4335;
	display: block;
}	
header p {
	float: left;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

nav { 
	padding-top: 1.2em; 
}

nav a {
	color: #F3C9BB;
	padding: 0 32px;
	margin-right: 1em;
	text-decoration: none;
}	

nav a:hover {
	background-color: #B6380E;
	border-radius:4%;
}
label {
	color: #F3C9BB;
	padding: 0 32px;
	margin-right: 1em;
	text-decoration: none;
	display: none;
}	

#toggle{ 
	display:none; 
}

footer {
	background-color: #CB4335;
	padding: 1%;
}

section {
	padding: 2em;
}

body {
	text-align: center;
	font-family: 'Martel', serif;
	font-size: 16px;
	line-height: 1.5;
}

#splash {
	background: url("../images/abspic3.jpeg");
	background-size: cover;
	color:#fff;
	height: 90vh;
	width: 100%;
}  	 
.logo a {
	background-color:#FFFAE0;
	color: #CB4335;
	padding: 10px 5px 6px;
	font-weight:bold;
	font-size:2em;
	text-align: left;
	width: 100%;
	font-family: 'Helvetica neue', sans-serif;
	text-decoration: none;
}

.logo: active{
}

.login { 
	font-family: 'Khula', sans-serif;
	text-align: right;
	float: right;
	padding: 12px 12px 0;
}
.login a {
	color: #FFFAE0;
	border: 1px #FFFAE0 solid;
	border-radius: 4%;
	padding: 0 16px;
	margin: 5px 0 ;
	text-decoration: none;

}
.login a:hover {
	background-color: #FFFAE0;
	color:#9C2C41;
	font-style: bold;
}

h2 {
	color: #464741;
	font-family: 'Helvetica neue', sans-serif;
	padding:.24%;
}
h3 {
	color: #9C2C41;
}

h4 {
	font-family: 'Helvetica neue', sans-serif;
	font-size: 1.2em;
	color:#464741;
	margin-bottom: .75em;
}

h5 {
	font-family: 'Helvetica neue', sans-serif;
	font-size: 1.2em;
	color: #464741;
	margin-bottom: 1em;

}

p {
	text-align: center;
}	

#slogan {
	    font-size: 1.8em;
		color: #2F4F4F;
		font-family: 'Khula', sans-serif;
		padding-top: 2.5em;
}

#about {
	background-color: #FFFAE0;
	color:#616A6B;
}

#about p{
	width: 50%;
	margin:auto;
}
#about img{
	width:10%;
}

#how-it-works{
	background-color: #BDBFB9;
}

.hiw-columns {
	color:#FFFFFF;
	width: 22%;
	margin: 1.5%;
	padding: .75em 1em;
	background-color: #BDBFB9;
	float:left;
}
#clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.number{
	color: #D35400;
	font-family: 'Khula', sans-serif;
	font-size: 1.5em;
	border: #D35400 2px solid;
	height: 1.5em;
	width: 1.5em;
	border-radius: 55%;
	margin: auto;
}

#project-images{
	background-color: #F7F7F3;
}

.group-images-one p{
	padding: 1em;
	font-size: 16px;
	background-color: grey;
	border:#F69C34 4px solid;
	color:white;
	margin-top: .75em;
	text-transform: uppercase;
	font-family:'Helvetica neue', sans-serif;
}

h2+ hr{
	border:none;
	height:1px;
 	width: 40%;
 	margin:auto;
 	margin-bottom:.75em;
 	background-color: #464741;
}


.group-images-one {
	color:#616A6B;
	width: 29%;
	margin: 2%;
	padding: .75em 1em;
	float:left;
	background-color:#E2E1DE;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.group-images-one img{
	width: 100%;
}

.group-images-two {
	color:#616A6B;
	width: 29%;
	margin: 2%;
	padding: .75em 1em;
	float:left;
	background-color:#E2E1DE;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.group-images-two img{
	width: 100%;
}

#testimonials{
	background-color: #BDBFB9;
	border-top:#EBDEB6 5px solid;
	border-bottom:#EBDEB6 5px solid;
	padding: 1%;
}

.client-columns{
	color: #FFFFFF;
	width: 30%;
	margin: 1.5%;
	padding: .75em 1em;
	background-color: #BDBFB9;
	float:left;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.client-columns img{
	width:55%;
	border-radius: 55%;
	margin-bottom:1em;
}

#testimonials hr{
	border:none;
	height:1px;
 	width: 50%;
 	margin:auto;
 	margin-bottom: .75em;
 	background-color: #FFFFFF;
}

.perks-columns img {
	width: 30%;
}

#perks{
	background-color:#FFFAE0;
}

.perks-columns{
	color:#616A6B;
	width: 30%;
	margin: 1.5%;
	padding: .75em 1em;
	background-color: #FFFAE0;
	float:left;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/*****************
	form
******************/
fieldset {
	border:none;
	color: #2F4F4F;
	font-style: bold;
	margin-top: 3em;
}

form div {
	border:1px solid #2F4F4F;
	display:inline-block;
	width: 8em;
	height: 8em;
	border-radius: 55%;
	color:#FFFAE0;
	background-color: #2F4F4F;
	margin: 20px 12px;
}

form p {
	margin-top:32%;
}

button { 
	display: block;
	width: 70px;
	margin: .25em auto 0;
	padding: 10px 12px;
	background-color: #AB0000;
	color: #FFFAE0;
	border: 1px solid #2F4F4F;
	border-radius: 8%;
}


@media only screen and (max-width:868px){
	.group-images-one{
		height:320px;
	}

	fieldset{
		margin-top:1em;
	}

	.client-columns img{
		width:65%;
	}
}
 
@media only screen and (max-width:772px){
	footer a{
		margin-right:.75em;
	}
	#about p{
		width:75%;
	}
}

@media only screen and (max-width:760px){
	.hiw-columns{
		padding:.75em .75em;
	}
}

@media only screen and (max-width:752px){
	label {
		display: block;
		padding-top: 1em;
	}	
	nav {
		display: none;
		padding-top:0;

	}
	nav a{
		display: block;
		text-align: center;
	}
	#toggle:checked + nav{
		display: block;
	}
	footer nav{
		display:block;
	}
	header p{
		float:none;
	}
	.login{
		float:none;
	}
	fieldset{
		margin-top:2em;
	}
	
	body { 
	    font-size: 15px; 
	}
	.client-columns img{
		width:70%;
	}
	.perks-columns img{
		width:33%;
	}

}


@media only screen and (max-width: 695px){
 	
 	form div {
		display:none;
	}

	button{
		margin-top: 3em;
	}

	.hiw-columns{
		float:none;
		margin:auto;
		width:60%;	
	}

	.group-images-one{
		float:none;
		width:70%;
		margin:auto;
		margin-top:1em;
		height:auto;
	}
	.group-images-one p{
		font-size:15px;
	}

	.group-images-two{
		float:none;
		width: 70%;
		margin:auto;
		margin-top: 1em;
	}

	.client-columns{
		float:none;
		width:50%;
		margin:auto;
	}
	.perks-columns{
		float:none;
		width:40%;
		margin:auto;
	}
}

@media only screen and (max-width: 550px){
	body{
		font-size: 15px;
	}
	#slogan{
		font-size:1.8em;
		padding-top:0;
		margin-top:1em;
	}	
}

@media only screen and (max-width: 400px){
	body{
		font-size: 14px;
	}
	#subheading{
		display:none;
	}

	#slogan{
		margin-top:.75em;
	}

	#about p{
		width:100%;
	}

	#about img{
		width:15%;
	}

	.hiw-columns{
		width: 70%;
	}

	.group-images-one{
		width:100%;
	}

	.group-images-two{
		width:100%;
	}

	.client-columns{
		float:none;
		width:70%;
	}

	.perks-columns{
		width:60%;
	}
	
	fieldset{
		margin-top: .75em;
	}
}

