* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size:16px;
	background-color: #7D0B47;
}
#splash {
	background: url("../images/sgpic2.jpg");
	background-size:cover;
	color:#fff;
	height:90vh;
}  	 
.logo {
	background-color:#FFFAE0;
	color: #AB0000;
	font-weight:bold;
	font-size:2em;
	text-align: left;
	width:170px;
}
section {
	padding:4em 0;
	background-color:#20B2AA;
}
nav a {margin-right: 10px;
}

h2 {color: black;
}

p {text-align: center;
}
	
ul {
	padding-left:1.25em;
	text-align: left;
}


#slogan {
	    font-size: 18px;
		color: #FF6C11;
		font-style: italic;
}

hr {width: 200px;
}



